@model BusBooking.transaction

@{
    ViewBag.Title = "Create";
}

<h2>Payment </h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm("create", "transactions"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.nameOnCard, "Name on Card", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nameOnCard, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nameOnCard, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cardNumber, "Your Card Number", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.cardNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cardNumber, "", new { @class = "text-danger" })
            <span class="text-danger">@ViewBag.errormessage</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.unit_price, "Ticket Price", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.unit_price, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
            @Html.ValidationMessageFor(model => model.unit_price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.quantity, "No. of Tickets", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" ,@min="1",@max="3"} })
            @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.total_price, "Total Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.total_price, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.exp_Date, "Expiry Date of Card", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.exp_Date, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/YYYY" } })
            @Html.ValidationMessageFor(model => model.exp_Date, "", new { @class = "text-danger" })
        </div>
    </div>


    @*<div class="form-group">
            @Html.LabelFor(model => model.createdBy, "Created By", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.createdBy, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @Html.HiddenFor(model => model.s_id)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay" class="btn btn-outline-light" style="background: linear-gradient(rgba(42,157,216,0.5),rgba(187,18,55,0.5)) !important;" />
        </div>
    </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}


