@model BusBooking.transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>
    <h4>TRIP DETAILS</h4>
    <hr />
    <div class="row">
        <h5>User Details</h5>
    </div>
    <div class="row">
        <h5>==================================================================</h5>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.user.firstname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.firstname)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.user.lastname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.lastname)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.user.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.email)
                </dd>
            </dl>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.user.contact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.contact)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <h5>Trip Details</h5>
    </div>
    <div class="row">
        <h5>==================================================================</h5>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.schedule.source)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schedule.source)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.schedule.destination)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schedule.destination)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.quantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.quantity)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <h5>Payment Details</h5>
    </div>
    <div class="row">
        <h5>==================================================================</h5>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.nameOnCard)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.nameOnCard)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayFor(model => model.creditcard_type.name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.cardNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.unit_price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.unit_price)
                </dd>

            </dl>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.total_price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.total_price)
                </dd>

            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.createdOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdOn)
                </dd>

            </dl>
        </div>
    </div>
    <dl class="dl-horizontal"></dl>
</div>
<p>
</p>
