<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - User</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="">
        <nav class="navbar navbar-expand-lg bg-transparent">
            <a class="navbar-brand" href="#">Space Bus</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                    </li>
                    @if (Session["user_id"] != null)
                    {
                        if (Session["role"].ToString() == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Users")">User<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "buses_type")">Buses types<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Schedules")">Schedules<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "buses")">Buses<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "creditcard_type")">Credit Card<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "transactions")">Transactions<span class="sr-only">(current)</span></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("searchbuses", "schedules")">Search Buses<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("DetailsByUserId", "transactions",new { id = Session["user_id"].ToString() })">Transactions<span class="sr-only">(current)</span></a>
                            </li>
                        }
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (Session["user_id"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("LoginPage","login")">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("create","users")">SignUp</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Details","users",new { id = Session["user_id"].ToString() })">
                                @Session["email"].ToString()
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout","login")">
                                Log Out
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Space Bus</p>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
