@model IEnumerable<BusBooking.bus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bus_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buses_type.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bus_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buses_type.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bus_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.bus_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bus_id })
        </td>
    </tr>
}

</table>
