@model BusBooking.creditcard_type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details of Creditcard</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.starts_with)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.starts_with)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.c_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
